.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0px 20px;
  margin-top: 18px;
}
.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}
.header__searchInput {
  border: none;
  height: 12px;
  padding: 10px;
  width: 100%;
  outline: none;
}
.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
  color: white;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
}
.header__basketCount {
  margin: 0px 10px;
}
.header__optionline1 {
  font-size: 10px;
}

.header__optionline2 {
  font-size: 13px;
  font-weight: 800;
}
